extends template

append content
    link(rel='stylesheet' href='/css/home.css')

append title
    section#titleHome
        section#titleHomeText
            | Strona główna
        a#titleHomeArrows(href='#content')
            .titleHomeArrow
            .titleHomeArrow
            .titleHomeArrow


append content
    | Test!!!