extends template

append content
    link(rel='stylesheet' href='/css/home.css')

append title
    #titleHome
        #titleHomeText
            | Strona główna
        a#titleHomeArrows(href='#content')
            .titleHomeArrow
            .titleHomeArrow
            .titleHomeArrow


append content
    #contentHome
        | Test!!!