doctype html
html(lang="pl")

    head

        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title XibblyAPI

        link(rel='stylesheet' href='/css/style.css')

        block head

    body
        section#title
            block title

        section#content
            block content

    block js