doctype html
html(lang='pl')

    head

        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title XibblyAPI

        link(rel='stylesheet' href='/css/style.css')
        link(rel='stylesheet' href='/css/cookies.css')

    block head

    body

        #navbar

        #cookies
            .data
                span
                    | Ta strona używa plików cookie. Korzystając z tej strony, zgadzasz się na używanie przez nas plików cookie.
                br
                button.btn.btn-success.btn-sm(type='button' onclick='new Cookies().close()') Wyrażam zgodę
                a.btn.btn-primary.btn-sm(href='/cookies' role='button') Czytaj więcej


        .title
            block title

        .container.content
            block content

        script(src='/js/cookies.js')
        block js
