doctype html
html(lang='pl')

    head

        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title XibblyAPI

        link(rel='stylesheet' href='/css/style.css')
        link(rel='stylesheet' href='/css/navbar.css')
        link(rel='stylesheet' href='/css/cookies.css')

        block head

    body

        #navbar
            input(type='checkbox', id='navbar-checkbox')
            label.check-navbar-checkbox(for='navbar-checkbox')
                .fas.fa-bars

            span.logo
                a(href='/')
                    | XibblyAPI

            .navbar-elements
                ul.left
                    li
                        a(href='/')
                            | Strona główna
                    li
                        a(href='https://docs.xibbly.tk')
                            | Dokumentacja

                ul.right
                    if !oauthUser || !oauthUser.username || !user || !user.userId
                        li
                            a(href='/user/loginredirect')
                                | Zaloguj się
                    else
                        li
                            a(href='/panel')
                                | Panel

        br

        #container
            #title
                block title

            #content
                block content

        #cookies
            .data
                span
                    | Ta strona używa plików cookie. Korzystając z tej strony, zgadzasz się na używanie przez nas plików cookie.
                br
                button.green(onclick='new Cookies().close()') Wyrażam zgodę
                br
                button.blue
                    a(href='/cookies') Czytaj więcej

        script(src='/js/cookies.js')
        script(src="https://kit.fontawesome.com/6465a42fcc.js" crossorigin="anonymous")
        block js
