#cookies {

    position: fixed;
    min-width: 30%;
    min-height: 30%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #313131;
    display: none;

    text-align: center;
}

#cookies .data {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
    #cookies {
        width: 90%;
        height: 40%;

        min-height: 30%;
    }

    #cookies .data {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}