#titleHome {
    width: 100%;
    min-height: 100vh;
}

#titleHomeText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 500%;
}

#titleHomeArrows {
    position: absolute;
    top: 90%;
    left: 50%;
    right: 50%;
}

.titleHomeArrow {
    position: relative;
    top: -5px;
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border-right: 0.2em solid white;
    border-top: 0.2em solid white;
    transform: rotate(135deg);
    margin-right: 0.5em;
    margin-left: 1.0em;
}