@import "_variables";

#navbar {

    background: #313131;
    width: 100%;
    height: $navbar-height;
    position: fixed;

    .logo {

        font-size: 20px;
        float: left;
        line-height: $navbar-height;
        padding: 0 25px;
        font-weight: bold;

    }

    ul, li {

        margin: 0;
        padding: 0;

    }

    ul.left {
        float: left;
    }

    ul.right {
        float: right;
    }

    li {

        display: inline-block;
        line-height: $navbar-height;
        margin: 0 5px;

    }

    a {

        color: white;

    }

    li a {

        font-size: 17px;
        text-transform: uppercase;
        padding: 7px 13px;
        border-radius: 3px;

    }

    li a:hover {

        background: #414141;
        transition: .5s;

    }

    .check-navbar-checkbox {
        font-size: 30px;
        float: right;
        line-height: $navbar-height;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }

    #navbar-checkbox {
        display: none;
    }

    .dropdown {

        .dropdown-elements {

            display: none;
            position: absolute;
            right: 0;
            z-index: 1;

        }

        .dropdown-element {

            text-align: center;
            width: 100%;

            .red {

                color: #ff0000;
                font-weight: bolder;
                transition: .5s;

            }

            .red:hover {

                color: #ff3333;

            }

        }

        @media (min-width: 859px) {

            .dropdown-elements {

                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

            }

        }

    }

    .dropdown:hover {

        .dropdown-elements {

            display: block;

        }

    }

    .avatar {

        width: 30px;
        border-radius: 50%;
        vertical-align: middle;

    }

    @media (max-width: 858px) {

        .check-navbar-checkbox {

            display: block;

        }

        .navbar-elements {

            position: fixed;
            width: 100%;
            height: 100vh;
            background: #212121;
            top: 80px;
            left: -100%;
            transition: all .5s;

        }

        ul, li {

            width: 100%;
            text-align: center;

        }

        li {

            text-align: center;
            display: block;
            line-height: calc(#{$navbar-height} / 2.5);
            margin-top: calc(#{$navbar-height} / 2.5);


        }

        #navbar-checkbox:checked ~ .navbar-elements {

            left: 0;

        }

    }

}