extends ../template

append content

append title
    | Logowanie


append content
    if error
        .error
            | #{error}

    form(method='POST' action='login')
        | Nazwa użytkownika:&nbsp;
        input(type='text' name='login')
        br
        | Hasło:&nbsp;
        input(type='password' name='password')
        br
        input(type='submit' value='OK')

        br
        br
        | Nie masz konta?&nbsp;
        a(href='/user/register') Zarejestruj się!