extends ../template

append content

append title
    | Rejestracja


append content

    if error
        .error
            | #{error}

    form(method='POST' action='register')
        | Nazwa użytkownika:&nbsp;
        input(type='text' name='login')
        br
        | Hasło:&nbsp;
        input(type='password' name='password')
        br
        | Powtórz hasło:&nbsp;
        input(type='password' name='confirmPassword')
        br
        input(type='submit' value='OK')