extends ../template

append title
    | Panel


append content
    center
        | #{user.username}
    br
    br

    //if user.permissions.includes('*') || user.permissions.includes('admin_panel')
        a(href='/adminpanel') Panel admina
        br

    a(href='/panel/tokens') Twoje tokeny