extends ../template

append head

append title
    | Panel - zarządzanie tokenami


append content
    if user.permissions.includes('*') || user.permissions.includes('unlimited_tokens')
        center
            a(href='/tokens/generate')
                button.button_green Generuj

    else if user.permissions.includes('premium') && tokens.length < process.env.MAX_PREMIUM_TOKENS
        center
            a(href='/tokens/generate')
                button.button_green Generuj

    else if tokens.length < process.env.MAX_TOKENS
        center
            a(href='/tokens/generate')
                button.button_green Generuj

    else
        center
            | Nie możesz generować więcej tokenów.

    br

    if tokens.length != 0
        each token in tokens
            .card.bg-dark
                .card-body
                    h5.card-title
                        | TOKEN: #{token.token}
                    // @todo date formatter
                    p.card-text
                        | Stworzony: #{token.createdAt}
                        br
                        | Modyfikowany: #{token.modifiedAt}
                    a(href='/tokens/regenerate?token=' + token.token)
                        button.button_blue Regeneruj
                    a(href='/tokens/delete?token=' + token.token)
                        button.button_red Usuń
    else
        center
            | Nie posiadasz tokenów? Wygeneruj
        br