extends ../template

append content

append title
    | Panel - zarządzanie tokenami


append content
    center
        | #{user.name}
    br
    br

    ul
        each token in tokens
            li #{JSON.stringify(token)}