extends ../template

append head
    link(rel='stylesheet' href='/css/panel.css')

append title
    | Panel - zarządzanie tokenami


append content
    center
        | #{user.name}
    br
    br

    each token in tokens
        .cards
            .card
                .card_title
                    | TOKEN: #{token.token}
                .card_description
                    | Stworzony: #{token.createdAt}
                    br
                    | Modyfikowany: #{token.modifiedAt}
                .card_buttons
                    .card_button
                        button.button_blue Regeneruj
                    .card_button
                        button.button_red Usuń